.wrapper {
    font-family: Verdana, sans-serif;
    background: url('../img/rana-sawalha-364253-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.up-bord {
    background-color:  rgba(0, 0, 0, 0.41);
    width: 100%;
    height: 54px;
}
.title-text {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    float: left;
    margin-left: 81px;
    margin-top: 20px;
    transition: 1s;
}
.calendar {
    width: 19px; height: 19px;
    background: url('../img/css_sprites.png') -10px -50px;
    float: left;
    margin-left: 840px;
    margin-top: 17px;
    transition: 1s;
}
.forum {
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
    float: left;
    margin-top: 17px;
    margin-left: 28px;
    transition: 1s;
}
.journey {
    width: 20px; height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;
    float: left;
    margin-top: 17px;
    margin-left: 28px;
    transition: 1s;
}
a {
    text-decoration: none;
}
.title-text:hover {
    color:  #3cb878;
}
.calendar:hover {
    width: 19px; height: 19px;
    background: url('../img/css_sprites1.png') -10px -50px;
    float: left;
    margin-left: 840px;
    margin-top: 17px;
}
.forum:hover {
    width: 28px; height: 20px;
    background: url('../img/css_sprites1.png') -10px -10px;
    float: left;
    margin-top: 17px;
    margin-left: 28px;
}
.journey:hover {
    width: 20px; height: 20px;
    background: url('../img/css_sprites1.png') -58px -10px;
    float: left;
    margin-top: 17px;
    margin-left: 28px;
}
p {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
span {
    font-family: Verdana, sans-serif;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.right-text {
    float: left;
    margin-top: 16px;
    margin-left: 30px;
}
.right-text p {
    border-left: 2px solid #ffffff33;
    padding: 0 30px;
}
.form {
    margin-top: 65px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
}
.back {
    width: 444px;
    height: 584px;
    border: white;
    background-color: white;
    border-radius: 8px;
}
.square h2 {
    font-family: Verdana, sans-serif;
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding: 30px 0 0 41px;
    float: left;
}
.square p {
    font-family: Verdana, sans-serif;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding: 30px 0 0 338px;
}
.facebook {
    float: left;
    margin-left: 60px;
    margin-top: 15px;
    border-radius: 3px;
    background-color:  #305db8;
    width: 157px;
    height: 46px;
}
.facebook img {
    float: left;
    margin-top: 13px;
    margin-left: 20px;
    width: 10px;
    height: 20px;
}
.facebook p {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 13px 0 0 66px;
}
.google {
    float: left;
    margin-top: 15px;
    margin-left: 8px;
    border-radius: 3px;
    background-color:  #df4a32;
    width: 157px;
    height: 46px;
}
.google img {
    float: left;
    margin-top: 13px;
    margin-left: 20px;
    width: 25px;
    height: 16px;
}
.google p {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 13px 0 0 66px;
}
.text-after {
    clear: both;
    padding: 20px 0 5px 0;
}
.text-after p {
    font-family: Verdana, sans-serif;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.form1 {
    padding: 7px 0;
}
input {
    font-family: Verdana, sans-serif;
    color:  #bebebe;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.footer p {
    margin: 50px 0 0 0;
    opacity: 0;
}
.square1 {
    float: left;
    margin-top: 32px;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}
.underline {
    text-decoration: underline;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('../img/chek.png') left top no-repeat;
    background-size: 19px 19px;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url('../img/chek1.png') left top no-repeat;
    background-size: 19px 19px;
}
label {
    font-family: Verdana,sans-serif;
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
label a {
    font-family: Verdana, sans-serif;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: underline;
}
input:required {
    font-family: Verdana, sans-serif;
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    border-radius: 3px;
    border: 1px solid #00000033;
    width: 280px;
    height: 40px;
}
.submit-button1 {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    width: 320px;
    height: 44px;
    border: none;
    background-color: #39ba78;
}
.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 322px;
    height: 46px;
    border-radius: 3px;
    background-color: #39ba78;
    margin: 30px 0 0 0;
}
.style-form {
    background: rgba(255, 255, 255, 0.4);
    width: 280px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display:block;
    font-family: Verdana, sans-serif;
    color:  #bebebe;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:10px;
    overflow:hidden;
}
.form1 {
    margin-left: 60px;
}
.style-form:focus {
    width: 280px;
    height: 40px;
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.21);
    outline: none;
}
.text-after p:before {
    content: "________";
    font-family: Verdana, sans-serif;
    font-size: 28px;
    color: #43434322;
    position: relative;
    top: -7px;
    right: 10px;
}
.text-after p:after {
    content: "________";
    font-family: Verdana, sans-serif;
    font-size: 28px;
    color: #43434322;
    position: relative;
    top: -7px;
    left: 10px;
}
.check {
    margin: 20px 0;
}



